/*---- FLIR CSS Document ----*/
.widefat thead th a {
	color:#d7d7d7 !important;
	text-decoration:underline;
}
.widefat tr {
	padding: 0;
}
.error
{
	padding:12px;
}
.wrap.alternate {
	margin-bottom:1.5em;
	padding:0 0 0 8px;
}
.flirbox.closed .inside {
	display:none;
}
.flirbox {
	border:1px solid #CCCCCC;
	clear:both;
	margin:15px 5%;
	padding:1em;
}
#poststuff.flir {
	margin:0 !important;
}
.flirbox a.togbox {
	border:1px solid #ccc;
	background:#fff;
	color:#999;
	padding:2px 4px;
	text-decoration:none;
	cursor:pointer;
}
.flirbox.closed a.togbox {
	padding:2px 4px;
	text-decoration:none;
	background:#000097;
	color:#fff;
	border-top:1px solid #0000DB;
	border-left:1px solid #0000DB;
	border-bottom:1px solid #000075;
	border-right:1px solid #000075;
	cursor:pointer;
}
a.togbox:hover {
	border:1px solid #ccc;
	background:#fff;
	color:#999;
}
.flir-info {
  cursor:pointer;
  top: 0;
}
.flir-tip {
  max-width:500px;
  text-align:left;
  display:none;
}
input {
  max-width:500px;
}
.flir-elements {
  max-width:500px;
  text-align:left;
}
